<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ProtectMyMail</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li class="{% if active == 'home' %}active{% endif %}">
          <a href="/">Home</a>
        </li>
        <li class="{% if active == 'servers' %}active{% endif %}">
          <a href="/domains/">Domains</a>
        </li>
        <li class="{% if active == 'subnets' %}active{% endif %}">
          <a href="/mailboxes/">Mailboxes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
